/*Para centrar el contenido se usa: margin: 0 auto;*/

.container{
    width: 800px;
    margin: 0 auto;
}

.clearfix::after {
content: ""; 
display: table;
clear: both;
}

#header{
    background-color: pink;
}

#body{
    background-color: palevioletred;
    width: 600px;
    float: left;
}

/*Se usa clearfix para que el float se posicione donde queremos*/
/*Todos los elementos que contenga float deben envolverse en otro div y se le aplica clearfix*/
#sidebar{
    background-color: plum;
    width: 200px;
    float: right;
}

#footer{
    background-color: purple;
}