div {
    height: 500px;
}

.contenedor-bosque {
    background-image: url(../IMG/carbon-institute-forests-header-1600x900.jpg);
    background-size: cover;
    position: relative;
}

.contenedor-verde {
    background-color: green;
}

.abeja {
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
}